<!DOCTYPE html>
<html lang="en" class="{{.PageClass}}">
<head>
	<title>{{.Title}}</title>
	<link href="/assets/css/site.css" rel="stylesheet" type="text/css" />
	<link rel="icon" type="image/png" href="/assets/img/favicon-96x96.png" sizes="96x96" />
</head>
<body>
	<div class="top-bar">
		<div class="inner">
			<div class="logo"><a href="/"><img src="/assets/img/logoh200.png" alt="Tile38"></a></div>
			<a href="/commands">Commands</a
			><a href="/documentation">Documentation</a
			><a href="https://github.com/tidwall/tile38">Github</a
			><a href="/license">License</a
			>
		</div>
	</div>
	<div class="logo-bar">
		<img src="/assets/img/logo1500.png" width="200" height="200" alt="Tile38">
	</div>
	<div class="content">
		{{ if eq .PageClass "command" }}
		<h2 class="command-title">
			{{ .Command }}
		</h2>
		<div class="related-commands">
			<div>Related commands</div>
			<ul>
				{{ range $i, $name := .RelatedCommands }}
					<li {{if eq $name $.CommandName }}class="sel"{{end}}><a href="/commands/{{urlname $name}}">{{$name}}</a></li>
				{{ end }}
			</ul>
		</div>
		{{ end }}
		<div class="inner">
			{{ .Contents }}
		</div>
	</div>
</body>
</html>