@import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,700");
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
body, html {
	margin: 0; padding:0;
	width: 100%;
	height: 100%;

	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Sans-Serif;
	background: #fff;
}
*{
	box-sizing: border-box;         
}

h1,h2,h3,h4,h5 { margin-top: 40px;}
//h1,h2,h3,h4,h5 { margin-bottom: 0px;}

a {
	text-decoration: none;
	color: #1a6a9f;
}
a:hover {
	text-decoration: underline;
}

code {
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
code.block{
	background: #272822;
	color: #f8f8f2;
	font-size: 12px;
	padding: 5px;
	display: block;
	overflow: hidden;
	padding: 13px;
	white-space: pre-wrap;
}
code.block a { 
	color: #f8f8f2;
}
code keyword { color: #a6e22e; }
code number  { color: #66d9ef; }
code comment  { color: #75715e; }
code geojson  { color: #e6db74; }

.logo-bar{
	display: none;
}

.top-bar {
	background: #111;
	min-height: 60px;
}
.top-bar .inner {
	text-align: right;
	max-width:900px;
	min-width: 600px;
	margin:0 auto;
	height: 60px;
	padding: 0 50px;
}
.top-bar a {
	display: inline-block;
	color: white;
	font-size: 15px;
	line-height: 60px;
	margin:0 7px;
	font-weight: 300;
	//text-transform: uppercase;
}
.top-bar a:first-child{
	margin-left: 0;
}
.top-bar a:last-child{
	margin-right: 0;
}

.top-bar .logo{
	position: absolute;
	margin: 8px 0 0 -8px;
}
.top-bar .logo a{
	margin: 0;
}

.top-bar .logo img{
	height: 44px;
}

.logo-bar{
	min-width: 600px;
	padding: 20px 0;
	background: #ddd;
	text-align: center;
}

.content {
	font-size: 16px;
	margin: 50px auto;
	padding: 0 50px;
	max-width: 900px;	
	min-width: 600px;
}

.commandtable .command .nameargs{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

}
.commandtable .command {
	background: #f7f7f7;
	display: block;
	margin: 1em 1.66% 0 0;
	padding: 10px;
	font-size: 14px;
	float: left;
	width: 31%;
	height: 105px;
}

.commandtable .filterbar {
	margin-bottom: 5px;
}

.commandtable .command:hover{
	text-decoration: none;
}

.commandtable .command .nameargs .name {
	font-weight: bold;
}

.commandtable .command .nameargs .args {
	color: #666
}

.commandtable .command .summary {
	color: #666;
}

.related-commands{
	float: right;
	width: 25%;
	min-width: 100px;
	border-left: 1px solid #e7e7e7;
	padding-left: 12px;
	margin-left: 12px;
}

.related-commands .sel{
	font-weight: bold;
}

.m-documentation .short {
	display: none;
}
@media only screen and (max-width: 700px), only screen and (max-device-width: 700px) {
	.m-documentation .short {
		display: inline;
	}
	.m-documentation .long {
		display: none;
	}
}
